* {
    border-radius: 0px !important;
}

#titlebar {
    background: #121212 !important;
    border: 2px solid #5abf8d !important;
    margin: 5px !important;
}

.tab-close-button {
    color: #FFFFFF !important;
}

.urlbar-input-container {
    border-radius: 0px !important;
    background: #181818 !important;
    padding: 0px 5px 5px 5px !important;
    color: #5abf8d !important;
}

#tabbrowser-tabs {
    margin-inline-start: -5px !important;
    color: #5abf8d !important;
}

#tabbrowser-tab {
    margin-inline-start: -5px !important;
    padding: 0px !important;
    color: #5abf8d !important;
}

#navigator-toolbox {
    border-bottom: none !important;
    background: #121212 !important;
    color: #5abf8d !important;
}

.search-one-offs,
#firefox-view-button,
#tracking-protection-icon-container,
#page-action-buttons> :not(#urlbar-zoom-button, #star-button-box),
#urlbar-go-button,
#alltabs-button,
.titlebar-buttonbox-container {
    display: none !important;
}

#nav-bar {
    border-bottom: none !important;
    background: #121212 !important;
}

#nav-bar-customization-target {
    background: #121212 !important;
    border: 2px solid #5abf8d !important;
    margin: 0px 5px !important;
}

#PanelUI-button {
    background: #121212 !important;
    border: 2px solid #5abf8d !important;
    margin: 0px 5px 0px 0px !important;
    color: #5abf8d !important;
}

#urlbar {
    background: #101010 !important;
}

#urlbar-background {
    background: #101010 !important;
    border: none !important;
    color: #5abf8d !important;
}

#urlbar-input-container {
    border: none !important;
}

#PanelUI-menu-button {
    padding-inline-end: 0px !important;
}

#toolbarbutton-icon {
    margin: 0px !important;
    padding: 0px !important;
}

#appcontent {
    margin: 5px !important;
    border: 2px solid #5abf8d !important;
    background: #121212 !important;
    color: #5abf8d !important;
}

#browser {
    background: #121212 !important;
    color: #5abf8d !important;
}

.toolbarbutton-1 {
    color: #5abf8d !important;
}

.toolbarbutton-1:hover {
    color: #326e50 !important;
}

.tab-background {
    border-radius: 0px !important;
    background: #121212 !important;
    box-shadow: none !important;
}

.tab-text {
    color: #838383 !important;
}

.tab-text[selected] {
    color: #FFFFFF !important;
}

.tab-background[selected] {
    border-radius: 0px !important;
    margin-block: 0px !important;
    background-color: #5abf8d !important;
    background-image: none !important;
    color: #FFFFFF !important;
}

.toolbar-items {}
