:root {
    --Main-Background: #121212;
    --Darker-Background: #101010;
    --Lighter-Background: #181818;
    
    --Main-Accent: #5abf8d;
    --Darker-Accent: #326e50;
    --Lighter-Accent: #83f3bb;
}

#titlebar {
    background: var(--Main-Background) !important;
}

#navigator-toolbox {
    border-bottom: none !important;
}

toolbar#nav-bar {
    background: var(--Main-Background) !important;
    box-shadow: none !important;
}

#urlbar {
    background: var(--Darker-Background) !important;
}

#urlbar-background {
    background: var(--Darker-Background) !important;
    border: none !important;
}

#urlbar-input-container {
    border: none !important;
}

.tab-background {
    background: var(--Main-Background) !important;
    box-shadow: none !important;
}

.tab-background[selected="true"] {
    background-color: var(--Lighter-Background) !important;
    background-image: none !important;
}

.toolbar-items {

}