* {
    font-family: monospace;
    font-size: 15px;
    border: 0px;
    box-shadow: 0px 0px;
}

window#waybar {
    background-color: #121212;
    outline: -3px solid #5abf8d;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .25s;
}

window#waybar.hidden {
    opacity: 1;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    margin: 5px 1px;
    padding: 0px 7px;
    background: transparent;
    color: #5abf8d;
    transition-property: all;
    transition-duration: .25s;
}

#workspaces button:hover {
    background: #5abf8d;
    color: #ffffff;
}

#workspaces button.focused {
    background: #5abf8d;
    color: #ffffff;
}

#workspaces button.active {
    background: #5abf8d;
    color: #ffffff;
}

#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 4px;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    background-color: #2980b9;
}

#clock {
    
}

#custom-icon {
    color: #5abf8d;
    padding-left: 10px;
    font-size: 25px;
}